header {

    color: wheat ;
    background-color: black;
}

nav{

    background-color: coral;

}
img.escudo{
    float: right;
    width: 80px;
    height: 80px;
}

img.estadio{

    width: 1500px;
    height: 650px;
}

h1.pla{
    text-align: center;
}

img.por{
    position: relative;
    float: left;
    width: 150px;
height: 200px;
}

img.def{
    position: relative;
    float: left;
width: 150px;
height: 200px;
}

img{
    position: relative;
    float: left;
    width: 150px;
    height: 200px;
}

img.del{
    position: relative;
    float: left;
    width: 150px;
height: 200px;
}